*{

  padding: 0px;

  margin: 0px;

  

  

}

img {

  height:200px ;

  ma

  pading:50px;

  background-color:transparent;

}

h1 {

  text-align:center;

font-family: 'Oswald', sans-serif;

  color: #595959;

  background-color:#00f0f0;

  background-blend-mode: multiply;

  

  padding:40px;

  

  

  

  

}

.pub img{height:220px;

  margin: 10px;

 border:10px;

border-color:#008cff;

  border-style:dotted;

         border-radius: 20px;;

         

            background-color:transparent;

}

body {

  background:linear-gradient(#00ffff,#00ffff, #9198e5);

  ;

  

  

}

h2 {margin: 10px;

  font-size:18px;

  text-align: ltr;

  background:linear-gradient(#00ffff,#00ffff, #9198e5);

  

}

